name: "{{PROJECT_NAME}}"
arch: "{{ARCH}}"
platform: "linux"
version: "{{VERSION}}"
maintainer: "{{MAINTAINER_NAME}} <{{MAINTAINER_EMAIL}}>"
description: "{{DESCRIPTION}}"
homepage: "{{HOMEPAGE}}"
license: "{{LICENSE}}"
contents:
  - src: ./{{BINARY_NAME}}
    dst: /usr/bin/{{BINARY_NAME}}
