# Maintainer: {{MAINTAINER_NAME}} <{{MAINTAINER_EMAIL}}>
pkgname={{PROJECT_NAME}}-bin
pkgver={{VERSION}}
pkgrel=1
pkgdesc='{{DESCRIPTION}}'
arch=('x86_64' 'aarch64')
url='{{HOMEPAGE}}'
license=('{{LICENSE}}')
provides=('{{PROJECT_NAME}}')
conflicts=('{{PROJECT_NAME}}')

source_x86_64=("https://github.com/{{GITHUB_REPO}}/releases/download/v${pkgver}/{{PROJECT_NAME}}-${pkgver}-x86_64-unknown-linux-gnu.tar.gz")
source_aarch64=("https://github.com/{{GITHUB_REPO}}/releases/download/v${pkgver}/{{PROJECT_NAME}}-${pkgver}-aarch64-unknown-linux-gnu.tar.gz")

sha256sums_x86_64=('{{SHA256_LINUX_X86_64}}')
sha256sums_aarch64=('{{SHA256_LINUX_ARM64}}')

package() {
  install -Dm755 "{{BINARY_NAME}}" "${pkgdir}/usr/bin/{{BINARY_NAME}}"
}
