{
  "version": "{{VERSION}}",
  "description": "{{DESCRIPTION}}",
  "homepage": "{{HOMEPAGE}}",
  "license": "{{LICENSE}}",
  "architecture": {
    "64bit": {
      "url": "https://github.com/{{GITHUB_REPO}}/releases/download/v{{VERSION}}/{{PROJECT_NAME}}-{{VERSION}}-x86_64-pc-windows-msvc.zip",
      "hash": "{{SHA256_WIN_X86_64}}"
    },
    "arm64": {
      "url": "https://github.com/{{GITHUB_REPO}}/releases/download/v{{VERSION}}/{{PROJECT_NAME}}-{{VERSION}}-aarch64-pc-windows-msvc.zip",
      "hash": "{{SHA256_WIN_ARM64}}"
    }
  },
  "bin": "{{BINARY_NAME}}.exe",
  "checkver": {
    "github": "https://github.com/{{GITHUB_REPO}}"
  },
  "autoupdate": {
    "architecture": {
      "64bit": {
        "url": "https://github.com/{{GITHUB_REPO}}/releases/download/v$version/{{PROJECT_NAME}}-$version-x86_64-pc-windows-msvc.zip"
      },
      "arm64": {
        "url": "https://github.com/{{GITHUB_REPO}}/releases/download/v$version/{{PROJECT_NAME}}-$version-aarch64-pc-windows-msvc.zip"
      }
    },
    "hash": {
      "url": "https://github.com/{{GITHUB_REPO}}/releases/download/v$version/SHA256SUMS",
      "regex": "([a-fA-F0-9]{64})\\s+{{PROJECT_NAME}}-$version-$basename"
    }
  }
}
